<HTML>
    <HEAD>
        <TITLE>Sea Fight Game</TITLE>
    </HEAD>
    <BODY bgcolor="#FFFFFF">
        <H1>Name of the program</H1>
        <H2>OOP in Java Project Work</H2>
        <HR>
        <APPLET CODE="YourAppletClass.class"
            WIDTH=600
            HEIGHT=400
            CODEBASE="classes"
            ALT="Your browser understands the &lt;APPLET&gt; tag but isn't running the applet, for some reason.">
          Your browser is ignoring the &lt;APPLET&gt; tag!
        </APPLET>
        <HR>
        <h2>USER INSTRUCTIONS: </h2>
        <h3>Rules:</h3>
        <p>rules of the game</p>
        <h3>Operation 1:</h3>
        <p>typical operations with the applet</p>
        <h3>Operation 2: </h3>
        <p>...</p>
    </BODY>
</HTML>