<HTML>
    <HEAD>
        <TITLE>Tetris 3d - READ ME file</TITLE>
    </HEAD>
    <BODY bgcolor="#FFFFFF">
        <H1>Tetris 3d</H1><H2> The OOP project work (Fall 2009)</H2>
        <p>We present a three dimensional tetris game. The application has been written using Java, Java Swing, and openGL library for Java, JOGL.</p>
        
<p><b>Authors</b>:
            <DD>Dariusz Kosz (185537), darkhus@gmail.com
            <DD>Pawe³ Niechoda (183070), pawel.niechoda@gmail.com
            <DD>Monika Machunik (183072), monika.machunik@gmail.com
</p>
        <hr>  
        <P>
        We decied to split up our application into 3 parts (packages):
	  <ul>
		<li>logic part - contains game logic</li>
		<li>graphic part - it draws graphical aspect of the game</li>
		<li>central part - central point, it creates game framework, uses 2 others packages</li>
	  </ul>
	  Each team member was responsible for different part of it. In design stage we've
	  established way in which each central part will use other parts(some kind of public interface). 
        <P>
        Class diagram:<hr>
	<img src="oop_uml.PNG"/>
        <h2>THE RULES OF THE GAME:</h2>
        <ol><li>
      <p>As in simple tetris game, the goal is to fit the block into the net so that they occupy all the space on the bottom of the cuboid. </p></li>
<li>
      <p>As soon as any level is full, it will  disappear, leaving space for new blocks.</p></li>
<li>
      <p>The game is over if the blocks reach the top of the cuboid.</p></li>
        </ol>
        <hr>
        <br>
        <br>
    </BODY>
</HTML>